@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "header.css";
@import "features.css";
@import "offer.css";
@import "testimonial.css";
@import "footer.css";
@import "medias.css";







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}